<template>
    <v-container>

        <v-layout row >
        <h1 class="display-4"><strong>Alterar Usuários</strong></h1>
       
        </v-layout>

         <v-form ref="form">
            <v-text-field v-model="usuario.nome" label="Name" required></v-text-field>
            <v-text-field v-model="usuario.email" label="E-mail" required></v-text-field>
            <!-- <v-btn @click="submit">Alterar</v-btn> -->
            <v-btn @click="salvar">Salvar Alteração</v-btn>
           
        </v-form>
        

    </v-container>
</template>

<script>
import axios from 'axios';
export default {
    
    data(){
        return{
            id: 0,
            usuario:{}
        }
    },

    created() {
        this.id = this.$route.params.id;
    },

    methods:{
        async buscarUsuario(){
            
            var response = await axios.get("http://localhost:8080/usuario/"+this.id);
            this.usuario = response.data;
            
        },  

        async salvar(){
            var response = await axios.post("http://localhost:8080/usuario/"+this.id, this.usuario);
            // redirecionamento
            this.$router.push('/usuarios')
        }
       
    }, 
    mounted(){
        this.buscarUsuario();
    }
}
</script>

<style scoped>
    .display-4{
     font-size: 30pt !important;   
    }
</style>

