<template>
  
  <v-container>

    <v-layout row >
      <h1 class="display-4">Novo Usuário</h1>
    </v-layout>

    <v-layout row>
      <v-flex xs6 offset-xs3>
        <v-form ref="form" >
          <v-text-field
            v-model="usuario.nome"
            label="Nome"
            required
          ></v-text-field>
          <v-text-field
            v-model="usuario.email"
            label="Email"
            required
          ></v-text-field>
          <v-text-field
            v-model="usuario.senha"
            label="Senha"
            type="password"
            required
          ></v-text-field>
          <v-btn @click="salvar">
            Salvar
          </v-btn>
          <v-btn @click="limpar()">Cancelar</v-btn>
        </v-form>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <h1 class="display-4">Usuários Cadastrados</h1>
      
    </v-layout>

     <v-data-table :headers="headers" :items="usuarios" hide-actions class="elevation-1">
        <template slot="items" slot-scope="usu">
          <td>{{ usu.item.nome }}</td>
          <td>{{ usu.item.email }}</td>
          <td>
            <router-link :to="'/alterarUsuario/' + usu.item.id" class="dropdown-item">
              <span class=""><v-icon>edit</v-icon></span>
            </router-link>
          </td>
           <td>
               <button class="" @click="deletar( usu.item.id )"  style="margin-right: 3px;"><span class=""><v-icon>delete</v-icon></span></button>
          </td>
        </template>
      </v-data-table>

    <v-layout>
     
    </v-layout>
  </v-container>

</template>

<script>
import axios from 'axios';

export default {
  data(){
    return{
      usuario:{},
      id: this.$route.params.id,
      usuarios:[],
      headers: [
        {text: 'Nome', value: 'nome', sortable: false},
        {text: 'Email', value: 'email', sortable: false},
        {text: 'Alterar', value: 'id', sortable: true},
        {text: 'Excluir', value: 'id', sortable: true},
      ]
    }
  },

  methods:{
    async buscarTodos(){
      //requisição http request get(http://localhost:8080/usuarios)
      var response =  await axios.get('http://localhost:8080/usuarios');
      this.usuarios = response.data;
     
    },

    created(){
      this.id = this.$route.params.id;
    },
    
    async salvar(){
        //http request post 
      var response = await axios.post('http://localhost:8080/usuarios', this.usuario);
      this.buscarTodos();
      this.limpar();
    },

    async deletar(id){
      var response = await axios.delete('http://localhost:8080/usuario/'+id, this.usuario);
      this.usuario = response.data;
       this.buscarTodos();
    },

    limpar(){
     this.$refs.form.reset()
    }
  },
  mounted(){
    this.buscarTodos();
    
  }

}
</script>

<style scoped>

  h1{
    font-size: 30pt !important;
  }

</style>


